In [1]:
import sys
from pathlib import Path

project_root = Path("..").resolve()
sys.path.append(str(project_root))

In [2]:
import pandas as pd
from src.train import create_rfm_target
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/data.csv", parse_dates=["TransactionStartTime"])

In [4]:
print("Shape of raw data:", df.shape)
df.head()

Shape of raw data: (95662, 16)

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08+00:00,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21+00:00,2,0

In [5]:
create_rfm_target()

C:\Users\arwa\credit-risk-model\src\train.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  high_risk_cluster = rfm.groupby(

Proxy target variable created and merged.

In [6]:
final_df = pd.read_csv("../data/processed/final_training_data.csv")

In [7]:
print("Shape of final data:", final_df.shape)
final_df.head()

Shape of final data: (3742, 36)

,Value,transaction_hour,transaction_day,transaction_month,transaction_year,total_amount,avg_amount,transaction_count,std_amount,CurrencyCode_UGX,...,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5,PricingStrategy_0,PricingStrategy_1,PricingStrategy_2,PricingStrategy_4,CustomerId,is_high_risk
0,-0.052297,0.883284,0.770545,1.038381,-0.829377,-0.066891,-0.153364,-0.253459,-0.140432,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,CustomerId_1,1
1,-0.052297,0.883284,0.770545,1.038381,-0.829377,-0.066891,-0.153364,-0.253459,-0.140432,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,CustomerId_10,1
2,-0.075710,-1.222654,0.050136,1.038381,-0.829377,-0.055849,-0.069870,-0.212186,-0.072731,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,CustomerId_1001,1
3,-0.109431,0.229556,-0.133241,0.523448,-0.829377,-0.061655,-0.091435,-0.150278,-0.134647,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,CustomerId_1002,0
4,-0.080169,0.455248,-2.111093,-0.922326,1.205724,-0.055849,-0.073846,-0.201868,-0.078186,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,CustomerId_1003,0